---
layout: default
title: Prices
image: wordpress-923188_1280.jpg
image-alt: Person creating a Wordpress website
datatable: prices
---

<table id="prices">
    <thead>
    {% for row in site.data.prices %}
        {% if forloop.first %} 
            {% for pair in row %}
            <th>{{ pair[0] }}</th>
            {% endfor %}
        </thead>
        <tbody>
        {% endif %}
    

        {% tablerow pair in row %}
        {{ pair[1] }}
        {% endtablerow %}
    {% endfor %}
    </tbody>
</table>

{% assign categories = site.data.prices | group_by: "Category" %}
{% for category in categories %}

<h3>{{ category.name }}</h3>
{% for item in category.items %}
<ul>
<li>
    {{ item.Service }}: <span class="price">{{ item.Price }}</span><br />
    {{ item.Notes }}
</li>
</ul>
{% endfor %}
{% endfor %}
    