---
layout: default
title: Prices
image: computer-1185626_1280.jpg
image-alt: Woman using a laptop
image-credit: Image by <a href="https://pixabay.com/users/janeb13-725943/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1185626">Welcome to All ! ツ</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1185626">Pixabay</a>
datatable: prices
---

<table id="prices">
    <thead>
    {% for row in site.data.prices %}
        {% if forloop.first %} 
            {% for pair in row %}
            <th>{{ pair[0] }}</th>
            {% endfor %}
        </thead>
        <tbody>
        {% endif %}
    

        {% tablerow pair in row %}
        {{ pair[1] }}
        {% endtablerow %}
    {% endfor %}
    </tbody>
</table>

{% assign categories = site.data.prices | group_by: "Category" %}
{% for category in categories %}

<h3>{{ category.name }}</h3>
{% for item in category.items %}
<ul>
<li>
    {{ item.Service }}: <span class="price">{{ item.Price }}</span><br />
    {{ item.Notes }}
</li>
</ul>
{% endfor %}
{% endfor %}
    