<!-- Nav -->
<ul>
	{% assign items = site.data.menu | sort: 'order' %}
	{% for item in items %}
	<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
	{% endfor %}
</ul>						
							<ul>
								<li><a href="{{ site.baseurl }}">Home</a></li>
								<li>
									<a href="{{ site.baseurl }}/services">Services</a>
									<!--<ul>
										{% for service in site.services %}
										<li><a href="{{ site.baseurl }}{{ service.url }}">{{ service.title }}</a></li>
										{% endfor %}
										
										
									</ul>-->
								</li>
								<li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
								<!--<li><a href="{{ site.baseurl }}/prices">Prices</a></li>-->
								<li><a href="{{ site.baseurl }}/about">About</a></li>
								<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
							</ul>
						
