<!-- Services -->
<div class="wrapper style1">
    {% include cta.html %}

    <section id="features" class="container special">
        <header>
            {% assign url = page.url | split: '/' %}
			{% assign len = url | size | minus: 2 %}
			{% if url[len] == "services" %}
            <h2>Other services</h2>
            {% else %}
            <h2>Services</h2>
            {% endif %}
            
        </header>
        <div class="row">
            {#- Count number of services to display -#}
            {%- assign count = 0 -%}
            {%- for service in site.services -%}
            {%- if page.url !=service.url -%}
            {%- assign count = count | plus:1 -%}
            {%- endif -%}
            {%- endfor -%}
            {%- assign columns = 12 | divided-by:count -%}

            {%- for service in site.services -%}
            {%- if page.url != service.url -%}
            <article class="col-{{ columns }} col-12-mobile special">
                <a href="{{ site.baseurl }}/{{ service.url }}" class="image featured" title="{{ service.title }}"><img src="{{ site.baseurl }}/images/{{ service.image }}" alt="{{ service.image-alt }}" /></a>
                <header>
                    <h3><a href="{{ site.baseurl }}/{{ service.url }}">{{ service.title }}</a></h3>
                </header>
                <p>{{ service.description }}</p>
            </article>
            {% endif %}
            {% endfor %}
            
        </div>
    </section>

</div>