body {
  color: #2b2b2b;
}

p, li, th, td {
  font-size: 1.2rem;
}

#header {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)),url(../../images/system-2660914_1280.jpg);
}

.image.featured img {
  height: 250px;
  object-fit: cover;
}

section#features article p {
  text-align: center;
}

section.carousel h2 {
    text-align: center;
    padding-bottom: 1rem;
}

ul.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 2rem;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #606060;
  list-style-type: none;
  padding: 0;
}

ul.two-columns li {
  padding: 0 1rem 0.5rem 0;
}
