:root {
    --accent: #77228f;
  }

aside.portfolio {
    padding: 0;
    width: 50%;
}

@media only screen and (max-width: 720px)
aside {
    width: 100%;
}


footer nav {
    margin: 0 auto;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline-block;
    padding: 0 0.5rem;
}