body {
  color: #3b3b3b;
}

#header {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)),url(../../images/system-2660914_1280.jpg);
}

.image.featured img {
  height: 250px;
  object-fit: cover;
}

section#features article p {
  text-align: center;
}

section.carousel h2 {
    text-align: center;
    padding-bottom: 1rem;
}

ul.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 2rem;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #606060;
}
