<!DOCTYPE HTML>

<html>
    {% include head_simple.html %}

    <body>
        <header>
            <nav>
                {% include menu.html %}
            </nav>
            <h1>{{ site.title }}</h1>
          <p>{{ site.description }}</p>
        </header>
      
        <main>
            {% if page.title !="Home" %}<h2>{{ page.title }}</h2>{% endif %}
          {{ content }}
        </main>
      
        <footer>
          {% include footer.html %}
        </footer>
      </body>
      </html>